﻿<!-- Sektion 1, JSON - för kursen JavaScriptbaserad webbutveckling -->
<!DOCTYPE html>
<html lang="sv">

<head>
    <title>
        DT162G - JavaScriptbaserad webbutveckling - Sektion 2: Laboration 2
    </title>
    <meta charset="utf-8" />

    <!-- CSS -->
    <link rel="stylesheet" href="../css/my-courses.css" type="text/css" />

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="../js/courses.controller.js"></script>
</head>

<!-- data-ng-app anger att AngularJS ska vara aktiv i den här delen av sidan (innuti div-elementet) -->

<!-- data-ng-controller anger att det är klassen MyCoursesController (som finns i filen myCourses.js)
    som ska hantera beteendet för detta element (body-elementet).

    Skillnaden mellan direktiven (directive) ng-xxx och data-ng-xxx är att vissa validerare
    av HTML genrererar fel om bara ng-xxx används. Inga error ges om vi lägger till data- innan.
    I övrigt är det inga som helst skillnader. Ha som vana att alltid använda data-ng-xxx.    
-->

<body data-ng-app="CoursesApp" data-ng-controller="CoursesController">
    <header>
        <!-- Direktivet (data-)ng-bind kommer att sätta innerHTML för ett element till ett det värde
        som finns i det $scope som aktuell controller tillhandahåller. -->
        <h1 class="center" data-ng-bind="information.heading"></h1>

        <!-- Ett annat sätt att "binda" data från $scope är att använda {{ }} -->
        <p>{{ information.text }}</p>

        <nav>
            <a href="my-courses.html">Se mina kurser</a>
        </nav>
    </header>

    <main>
        <section class="filter">
            <form>
                <!-- Ytterligare sätt att "binda" data är att använda direktivet (data-)ng-model (en "two-way binding)").
                    Denna används på ett input-, select- eller textarea-element till $scope i vår controller. I det här
                    fallet skapas $scope.filterQuery. -->
                <label>Filtrera på:&nbsp;<input data-ng-model="filterQuery" class="form-control pull-right"
                        placeholder="Filter..." /></label>
            </form>
        </section>

        <sektion class="courses">
            <table>
                <thead>
                    <tr>
                        <td>Kurskod</td>
                        <td>Namn</td>
                        <td>Ämne</td>
                        <td>Progression</td>
                        <td>hp</td>
                        <td>Institution</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- Direktivet (data-)ng-repeat använder vi om vi vill "loopa" igenom en array eller objekt.
                        Nedan kommer en rad i tabellen läggas till för varje kurs som finns i $scope.courses i vår
                        controller. AngularJS tillhandahåller olika filter för att omvandla data åt oss. Vi lägger
                        till ett filter genom att använda pipe-tecknet | följt av det filter som ska användas. Ett
                        filter är 'filter' som väljer ut en delmängd från en array (i det här fallet $scope.courses)
                        som matchar det vi anger i filterQuery.
                    -->
                    <tr data-ng-repeat="course in courses | filter:filterQuery | orderBy: 'courseCode'">
                        <td>{{ course.courseCode }}</td>
                        <td>{{ course.name }}</td>
                        <td>{{ course.subject }}</td>
                        <td>{{ course.progression }}</td>
                        <td>{{ course.points }}</td>
                        <td class="center">{{ course.institutionCode }}</td>
                    </tr>
                </tbody>
            </table>
        </sektion>
    </main>

    <footer>
        <p class="center">
            Denna laboration läser data från filen
            <a href="courses.json" target="_blank">courses.json.</a>
        </p>
    </footer>
</body>

</html>