﻿<!DOCTYPE html>
<html lang="sv">

<head>
    <title>
        DT162G - JavaScriptbaserad webbutveckling - Sektion 2: Laboration 2
    </title>
    <meta charset="utf-8" />

    <!-- CSS -->
    <link rel="stylesheet" href="../css/my-courses.css" type="text/css" />

    <!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="../js/my-courses.controller.js"></script>
</head>

<body data-ng-app="myCoursesApp" data-ng-controller="MyCoursesController">
    <header>
        <!-- Direktivet (data-)ng-bind kommer att sätta innerHTML för ett element till ett det värde
        som finns i det $scope som aktuell controller tillhandahåller. -->
        <h1 class="center" data-ng-bind="myCoursesInfo.heading"></h1>

        <!-- Ett annat sätt att "binda" data från $scope är att använda {{ }} -->
        <p>{{ myCoursesInfo.text }}</p>

        <nav>
            <a href="index.html">Se alla kurser</a>
        </nav>
    </header>

    <main>
        <section class="filter">
            <form>
                <!-- Ytterligare sätt att "binda" data är att använda direktivet (data-)ng-model (en "two-way binding)").
                    Denna används på ett input-, select- eller textarea-element till $scope i vår controller. I det här
                    fallet skapas $scope.filterQuery. -->
                <label>Filtrera på:&nbsp;<input data-ng-model="filterQuery" class="form-control pull-right"
                        placeholder="Filter..." /></label>
            </form>
        </section>

        <sektion class="courses">
            <table>
                <thead>
                    <tr>
                        <td>Kurskod</td>
                        <td>Namn</td>
                        <td>Status</td>
                        <td>Update</td>
                        <td>Delete</td>
                    </tr>
                </thead>
                <tbody>
                    <!-- Direktivet (data-)ng-repeat använder vi om vi vill "loopa" igenom en array eller objekt.
                        Nedan kommer en rad i tabellen läggas till för varje kurs som finns i $scope.courses i vår
                        controller. AngularJS tillhandahåller olika filter för att omvandla data åt oss. Vi lägger
                        till ett filter genom att använda pipe-tecknet | följt av det filter som ska användas. Ett
                        filter är 'filter' som väljer ut en delmängd från en array (i det här fallet $scope.courses)
                        som matchar det vi anger i filterQuery.
                    -->
                    <tr data-ng-repeat="myCourse in myCourses | filter:filterQuery | orderBy: 'courseCode'">
                        <td>{{ myCourse.courseCode }}</td>
                        <td>{{ myCourse.name }} </td>
                        <td>{{ myCourse.completed }}</td>
                        <td class="change"data-ng-click="updateCompleted(myCourse.courseCode)">Change</td>
                        <td class="delete" data-ng-click="delete(myCourse.courseCode)">delete</td>
                        <td>  </td>
            
                    </tr>
                </tbody>
            </table>
        </sektion>
        <section>
            <form>
                <!-- Direktivet (data-)ng-disabled sätter attributet disabled på ett element
                    (vanligtvis en formulärkontroll, t.ex. input, button, choice etc.) om uttrycket
                    inuti utvärderas till true. Det innebär att om användaren markerar kryssrutan
                    kommer ($scope.)random sättas till true och förnamn, efternamn och e-post inaktiveras. -->
                <label>Add course <input data-ng-model="courseCode" placeholder="course code..." ></label> <!-- tillgänglig i $scope.firstName -->            
                <span class="add" data-ng-click="addCourse(courseCode)" >lägg till</span>
            </form>
        </section>
    </main>

    <footer>
        <p class="center">
            Denna laboration läser data från filen
            <a href="my-courses.json" target="_blank">my-courses.json.</a>
        </p>
    </footer>
</body>

</html>