﻿body {
  font-family: georgia, serif;
  font-size: 18px;
  line-height: 1.6em;
  background-color: antiquewhite;
  padding: 0px 40px;
  min-width: 640px;
}

header {
  margin-bottom: 20px;
}

header p {
  display: inline;
}

nav {
  float: right;
}

main {
  padding: 20px;
  border-radius: 8px;
  border: thin solid grey;
  box-shadow: 15px 15px 50px grey, 5px 5px 5px grey;
  background-color: #fff;
}

footer {
  margin-top: 2em;
  font-size: 14px;
  color: #666;
}

table {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}

thead td {
  font-weight: bold;
}

tbody td {
  vertical-align: top;
}

td {
  padding: 2px 10px;
}

tr:nth-child(even) {
  background-color: #ccc;
}

tr:nth-child(odd) {
  background-color: #fff;
}

.center {
  text-align: center;
}

.filter {
  margin-bottom: 20px;
}

.course-name {
  width: 100%;
}

.delete {
  cursor: pointer;
  color: red;
}

.add {
  cursor: pointer;
  color: green;
}

.change {
   cursor: pointer;
}